.section-ice {
  max-width: 1280px;
  padding: 121px 0px 98px 0px;
  margin-left: auto;
  margin-right: auto;
}
.container-ice {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 114px;
    padding-right: 112px;
  }
}

.label {
  font-family: Titan One, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: #ffa5ba;
  text-align: center;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}
.section-title-ice {
  font-size: 34px;
  font-family: Titan One, sans-serif;
  line-height: 1.15;
  color: #d41443;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.products__item {
  position: relative;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 20px) / 3);

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 2 * 24px) / 3);

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.products__item--icecream {
  margin-top: 31px;

  @media screen and (min-width: 768px) {
    margin-top: 46px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 49px;
  }
}

.products__item--icecoffee {
  margin-top: 17px;

  @media screen and (min-width: 768px) {
    margin-top: 39px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 49px;
  }
}
.products__item--milkshakes {
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    margin-top: 48px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 49px;
  }
}

.products__container--icecream::before {
  content: "";
  background-image: url(../img-IceCream/home-pic1-m@1x.png);
  background-position: center;
  display: inline-block;
  height: 252px;
  width: 249px;
  background-size: contain;
  position: absolute;
  transform: translate(0%, -50%);
  margin-top: 31px;

  @media screen and (min-width: 768px) {
    background-image: url(../img-IceCream/home-pic1-t@1x.png);
    height: 226px;
    width: 220px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../img-IceCream/home-pic1-d@1x.png);
    height: 335px;
    width: 335px;
  }
}

.products__container--icecoffee::before {
  content: "";
  background-image: url(../img-IceCream/home-pic2-m@1x.png);
  background-position: center;
  display: inline-block;
  height: 252px;
  width: 249px;
  background-size: contain;
  position: absolute;
  transform: translate(0%, -50%);

  @media screen and (min-width: 768px) {
    background-image: url(../img-IceCream/home-pic2-t@1x.png);
    height: 233px;
    width: 220px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../img-IceCream/home-pic2-d@1x.png);
    height: 335px;
    width: 337px;
  }
}
.products__container--milkshakes::before {
  content: "";
  background-image: url(../img-IceCream/home-pic3-m@1x.png);
  background-position: center;
  display: inline-block;
  height: 252px;
  width: 249px;
  background-size: contain;
  position: absolute;
  transform: translate(0%, -50%);

  @media screen and (min-width: 768px) {
    background-image: url(../img-IceCream/home-pic3-t@1x.png);
    height: 224px;
    width: 220px;
    margin-top: 48px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../img-IceCream/home-pic3-d@1x.png);
    height: 335px;
    width: 335px;
    margin-top: 49px;
  }
}
.products__card {
  border-radius: 24px;

  height: 485px;
  padding-left: 41px;
  padding-right: 39px;
  width: 100%;
  margin-top: 113px;

  &--icecream {
    background-color: #ffb8ca;
  }
  &--icecoffee {
    background-color: #f0d1a5;
  }
  &--milkshakes {
    background-color: #c2e297;
  }
}
.products__title {
  font-family: Titan One, sans-serif;
  font-size: 20px;
  line-height: 1.14;
  color: #ffffff;
  text-align: center;
  padding-top: 161px;
  margin-bottom: 30px;
}
.products__text {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.products__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: transparent;
  width: 40px;
  height: 40px;
  background-image: url(../img-IceCream/arrow-right.png);
  cursor: pointer;
}

.products__text::before {
  content: "";
  display: block;
  background-position: center;
  width: 26px;
  height: 6px;
  background-image: url(../img-IceCream/points.svg);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

// @media screen and (width: ) {
// }
